

<footer class="gn-footer">
    <ul>
        <li>
	    <a href="https://pacificdata.org" class="nav-link" target="_blank">
		<span>Pacific Data Hub</span>
	    </a>
	</li>
        <li>
            <a href="https://gem.spc.int/" class="nav-link" target='_blank'>
                <span>Geoscience, Energy and Maritime Division</span>
            </a>
        </li>
        <li>
            <a href="/developer/" class="nav-link">
                <span>Developers</span>
            </a>
        </li>
        <li>
            <a href="/about/" class="nav-link">
                <span>About</span>
            </a>
        </li>
    </ul>
</footer>
